.header-base {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 12px;
  height: 2rem;
  width: 100%;
  padding: 2.3rem;
  margin-bottom: 5px;
  background-image: transparent;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  box-shadow: inset;
  position: sticky;
  top: 0;
  z-index: 1000;
}


