/* SVG Y BLUR */

.wave-container {
  position: relative;
  inset: 0;
  width: 200%;
  height: 100%;
  overflow: visible;
  pointer-events: none;
  border-radius: 17px;

}

.wave-track {
  display: flex;
  transition: transform 0.4s ease;
  justify-content: center;
  border-radius: 17px;

}

.wave {
  width: 50%;
  height: 70px;
  bottom: 0;
  top: 0;
  left: 0;
  overflow: visible;
  transition: transform 0.4s;
  z-index: 100;

}

.wave-overlay {
  width: 50%;
  position: relative;
  height: 70px;
  bottom: 0;
  overflow: visible;
  transition: transform 0.4s;
  pointer-events: none;
  top: 0;
  left: 0;
  pointer-events: none;

}

.wave-track,
.card-home-desc-content {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.small-wave,
.small-wave-overlay {
  width: 50%;
  height: 70px;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
  transition: transform 0.4s;
  pointer-events: none;
}

.small-wave-overlay-THIRD {
  width: 50%;
  height: 70px;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
  transition: transform 0.4s;
  pointer-events: none;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.small-wave-overlay-THIRD.fade-wave {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.blur {
  position: absolute;
  inset: 0;
  background: transparent;
  backdrop-filter: blur(9px);
  border-radius: 17px;
  z-index: 0;
  pointer-events: none;

}

.slide-card-content>*:not(.blur) {
  position: relative;
  z-index: 1;
}

/* SLIDE CARD CONTENT (FACE)*/

.slide-card {
  position: relative;
  flex: 0 0 260px;
  width: 260px;
  height: 60%;
  border-radius: 17px;
  box-shadow: 0 0 1em rgba(0, 0, 0, .2);
  overflow: hidden;
  transition: transform .4s ease, box-shadow .4s ease;
  display: flex;
  margin: 0;
  padding: 0;
}

.slide-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  border-radius: 17px;
  overflow: hidden;

}


.card-home-desc-content {
  transition: transform .3s ease, opacity .2s ease;
  
}

.card-home-img {
  width: 140px;
  height: 150px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform .3s ease, opacity .2s ease;
}

.card-home-image {
  width: 85%;
  height: 90%;
  object-fit: contain;
}

.img-placeholder {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .1);
}

.card-home-title {
  margin-top: 0.5rem;
  font-size: 1.56rem;
  font-weight: 700;
  transition: transform .3s ease, opacity .3s ease;
  color: #091F2C;
  margin-bottom: 0.7rem;
}

.card-home-description {
  font-size: 0.78rem;
  color: #4F758B;
  line-height: 1.4;
  font-weight: 100;
  margin-left: 1rem;
  margin-right: 1rem;
  transition: transform .2s ease, opacity .3s ease;
}

/* EFECTOS (FONDO) */

.wave,
.wave-overlay,
.wave-overlay2,
.blur {
  pointer-events: none;
}

.slide-card:focus-within .wave-track {
  transform: translateX(-50%);
}


/* EFECTOS (CARA) */


.slide-card:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.slide-card:focus-within {
  transform: scale(.98);
  box-shadow: 0 .2em .2em #afafaf;
}

.slide-card:focus-within .card-home-desc-content {
  transform: translateX(-7em);
  opacity: 0;
  pointer-events: none;
}



/* OVERLAY CARD (TRASERA) */


.slide-card-overlay {
  position: absolute;
  inset: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transform: translateX(100%);
  transition: transform .4s ease;
  pointer-events: auto;
  border-radius: 17px;
  cursor:auto;
}

.slide-card-overlay-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.1rem;
}

.slide-card-overlay-content-SECOND {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: .8rem;

}


.slide-card-title {
  font-size: 1.53rem;
  font-weight: 700;
  color: #9f0303;
  padding-top: 20px;
  transition: transform .3s ease;

}

.slide-card-title-SECOND {
  font-size: 1.53rem;
  font-weight: 700;
  color: #9f0303;
  padding-top: 40px;
  transition: transform .3s ease;
  margin-bottom: 10px;
}

.slide-card-title-THIRD {
  font-size: 1.48rem;
  font-weight: 700;
  color: #9f0303;
  padding-top: 38px;
  transition: transform .3s ease;

}

.slide-card-overlay-text {
  margin: 0 2rem;
  font-size: .8rem;
  font-weight: 100;
  transition: transform .3s ease;

}

.slide-card-overlay-text-SECOND {
  margin: 0 2rem;
  font-size: .7rem;
  font-weight: 100;
  transition: transform .3s ease;

}

.slide-card-overlay-minitext {
  margin: -10px 1rem;
  font-size: .6rem;
  font-weight: 100;
  opacity: 0.7;
}

.slide-card-overlay-minitext-SECOND {
  font-size: .6rem;
  font-weight: 100;
  opacity: 0.7;
}

.slide-card-overlay-actions {
  transition: transform .3s ease, opacity .3s ease;
  z-index: 10000;
  position: relative;
}

.slide-card-overlay-actions-THIRD {
  transition: transform .3s ease, opacity .3s ease;
  z-index: 0;
  position: relative;
  margin-top:6px;
}

.client-name-input {
  display: flex;
  gap: 1.38rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.client-name-input input {
  padding: 0.6rem 0.9rem;
  border-radius: 5px;
  border: 1px solid #c00404;
  outline: none;
  font-size: 0.8rem;
  transition: all 0.2s ease;
  width: 180px;
}

.client-name-input input:focus {
  border-color: #9b0303;
  box-shadow: 0 0 5px rgba(193, 0, 0, 0.5);
}


.date-input {
  width: 85%;
}

.reason-input {
  width: 85%;
}

.description-input-1 {
  font-size: 0.73rem;
  color: #091F2C;
  font-weight: 100;
  margin-left: 1rem;
  margin-right: 1rem;
  transition: transform .2s ease, opacity .3s ease;
  text-align: left;
}

.description-input-2 {
  font-size: 0.73rem;
  color: #091F2C;
  line-height: 1.4;
  font-weight: 100;
  margin-left: 1rem;
  margin-right: 1rem;
  transition: transform .2s ease, opacity .3s ease;
  text-align: left;
}


.custom-datepicker {
  padding: 0.54rem 1.1rem;
  border-radius: 5px;
  border: 1px solid #c00404;
  outline: none;
  font-size: 0.8rem;
  transition: all 0.2s ease;
  width: 180px;
}

.custom-datepicker:focus {
  border-color: #9b0303;
  box-shadow: 0 0 5px rgba(193, 0, 0, 0.5);
}
.reason-picker {
  padding: 0.6rem 0.9rem;
  border-radius: 5px;
  border: 1px solid #c00404;
  outline: none;
  font-size: 0.8rem;
  transition: all 0.2s ease;
  background-color: white;
  color: rgba(54, 54, 54, 0.658);
  width: 100%;
}

.reason-picker:focus {
  border-color: #9b0303;
  box-shadow: 0 0 5px rgba(193, 0, 0, 0.5);
}





/* OVERLAY ACTIONS Y MEDIA */

.slide-card:focus-within .slide-card-overlay {
  transform: translateX(0);
  transition-delay: 0s;
}

.slide-card-overlay:hover .slide-card-overlay-text{
  transform: scale(1.07);

}

 .slide-card-overlay:hover .slide-card-title {
  transform: scale(1.05);
 }


 .slide-card-overlay:hover .slide-card-overlay-actions {
  transform: scale(1.025);
 }



@media (max-width: 600px) {
  .slide-card {
    scroll-snap-align: center;
    flex: 0 0 auto;
    box-shadow: 0 0 0.3em rgba(0, 0, 0, .17);
  }
}
