#root {
  font-family: Verdana, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin:0;
  padding:0;
  overflow-x: hidden;
  background-color: rgb(255, 255, 255);

}

* {
  margin:0;
  padding: 0;
}

.app-container {
  display: flex;
  height: 100vh;
  width: 100%;
}


.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.pages-container {
  flex: 1;
  overflow-y: auto;
}

.app-background {
  background-image: url( './assets/svg/isotipo.svg' );
  position: fixed;
  inset: 0;

  background-repeat: no-repeat;
  background-position: right center;
  margin-top: 20vh;
  background-size: 100vh;

  opacity: 0.97;
  pointer-events: none;
  z-index: 0;
}

