.button-header {
  align-items: center;
  appearance: none;
  background-color: rgb(247, 239, 239);
  border: 0;
  display: inline-flex;
  border-radius: 14px;
  box-shadow:rgba(37, 37, 37, 0.4) 0 2px 4px,rgba(66, 64, 64, 0.3) 0 7px 13px -3px,rgba(68, 68, 68, 0.6) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #484848;
  cursor: pointer;
  height: 43px;
  justify-content: center;
  width: 8rem;
  position: relative;
  text-decoration: none;
  font-size: 13px;
  overflow: hidden;
  transition: background-position 0.5s, transform 0.2s ease, box-shadow 0.2s ease;
}

.button-header span {
  position: relative;
  z-index: 2;
}

.button-header::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 160%;
  background: linear-gradient(45deg,
    transparent,
    transparent 55%,
    rgba(175, 5, 5, 0.65)
  );
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.4s ease;
  
}

.button-header:hover {
  transform: translateY(-4px);
  box-shadow:rgba(51, 2, 2, 0.4) 0 4px 6px,rgba(65, 3, 3, 0.3) 0 10px 16px -3px,rgba(167, 0, 0, 0.6) 0 -3px 0 inset;
}

.button-header:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}

.button-header:active {
  transform: translateY(2px);
  box-shadow: rgba(73, 0, 0, 0.8) 0 4px 5px inset;
}
