.nav-base {
  width: 16%;
  height: 100%;
  background-color: rgb(124, 6, 6);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.nav-left {
  margin-bottom: 2rem;
}

.nav-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
