.side-menu {
  width: 230px;
  height: 100%;
  padding: 50px 0;
  box-sizing: border-box;
  background-image: linear-gradient(90deg, #af0101 0%, #a90808 51%, #c50707 100%);
  display: flex;
  flex-flow: column nowrap;
  box-shadow: 5px 0px 20px rgba(17,26,41,0.3);
  position: absolute;
  transition: transform 0.3s;
  z-index: 2001;
}

#side-menu-switch:not(:checked) + .side-menu {
  transform: translateX(-100%);
}

#side-menu-switch:not(:checked)
+ .side-menu:has(.hover-sidebar:hover),
#side-menu-switch:not(:checked)
+ .side-menu:hover {
  transform: translateX(-90%);
}


.side-menu form {
  display: flex;
  margin: 0 10px 50px;
  border-radius: 100px;
  border: 1px solid #fff;
}

.side-menu form input,
.side-menu form button {
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 5px 10px;
}

.side-menu form input {
  width: 230px;
}

nav a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  font-family: 'Noto Sans TC', sans-serif;
  position: relative;
}

nav a + a::before {
  content: '';
  position: absolute;
  border-top: 1px solid #fff;
  left: 10px;
  right: 10px;
  top: 0;
}

nav a:hover {
  background: rgba(255,255,255,0.15);
}

.hover-sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2002;
}

.hover-sidebar:hover {
  transition: transform 0.3s ease;
}

label {
  width: 30px;
  height: 60px;
  background-color: #8B0000;
  color: #fff;
  line-height: 60px;
  text-align: center;
  font-size: 20px;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  transition: background 0.3s ease;
}

label:hover {
  background-color: #a20808;
}

