
.bg {
  height: 100vh;
  width: 100%;
  background-color: rgb(253, 243, 239);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contenido1 {
  height: 80vh;
  width: 100%;

}

.contenido2 {
  height: 100vh;
  width: 100%;
  background-color: rgb(255, 206, 206);

}