.bg-me {
  min-height: 100%;
  width: auto;
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 13rem);
  gap: 3rem 4rem;
  max-width: calc(13rem * 2 + 4rem);
  margin: 0 auto; 
  justify-content: center;
  margin-bottom: 200px;
}