.button2 {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  border-radius: 6px;
  color: #18181a;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 14px 18px;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  transition: color 0.3s ease;
}

.button2 span {
  position: relative;
  z-index: 2;
  transition: color 0.3s ease;
  
}

.button2:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(203, 6, 6, 0.75);
  transform: translateY(100%);
  transition: transform 0.3s ease;
  z-index: 1;
  pointer-events: none;
}

.button2:hover:before {
  transform: translateY(0);
}

.button2:hover span {
  color: white;
  transform: scale(1.05);
}