.button {
  background-size: 300% auto;
  background-image: linear-gradient(90deg, #af0101 0%, #ff1b1b  51%, #d70000  100%);
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
  padding: 12px 14px;
  text-align: center;
  vertical-align: middle;
  transition: 0.5s;
  text-decoration: none;
}

.button:hover {
  background-position: right center;
  font-weight: 500;
}

.button:active {
  transform: scale(1.02);
}

